.my-dashboard {
	:root {

		--fontFamilty: "Manrope", sans-serif;
	
	}
	
	p,
	li,
	a {
		font-family: var(--fontFamilty);
		cursor: pointer;
	}
	
	/* .navbar {
		padding: 10px 50px !important;
		background: #080404 !important;
	}
	
	.navbar-collapse {
		justify-content: flex-end;
	} */
	
	.first-section .right img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
	
	.btn-1 {
		border: none;
	}
	
	.btn-exp {
		border-radius: 40px;
		background: #FFF;
		color: #222;
		font-family: var(--fontFamilty);
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		display: inline-flex;
		padding: 10px 20px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 40px;
	}
	
	.dashboard-contents-desktop .banner-two .left h4 {
		color: #FFF;
		font-family: var(--fontFamilty);
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: -0.72px;
	}
	
	.recent-course {
		width: 839.429px;;
		height: 113.932px;
		flex-shrink: 0;
		border-radius: 20px;
		background: linear-gradient(76deg, #BEE4FF 10.86%, #CFC8FF 106.95%) !important;
	}
	
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.swiper-pagination .swiper-pagination-bullet-active {
		background: #FFC444 !important;
		width: 24px !important;
		-webkit-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}
	
	.swiper-pagination {
	
		position: unset !important;
	}
	
	
	.slider__controls{
		bottom: 2rem;
		z-index: 999999999999;
		left: 28px;
		position: relative;
	
	}
	
	
	.swiper-pagination .swiper-pagination-bullet {
		width: 6px;
		height: 6px;
		display: inline-block;
		background:#FFFFFF;
		margin: 0 5px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		-webkit-transition: opacity .5s, background-color .5s, width .5s;
		-o-transition: opacity .5s, background-color .5s, width .5s;
		transition: opacity .5s, background-color .5s, width .5s;
		-webkit-transition-delay: .5s, .5s, 0s;
		-o-transition-delay: .5s, .5s, 0s;
		transition-delay: .5s, .5s, 0s;
		opacity: 1;
	}
	
	.slider__pagination {
		text-align: center;
		margin-top: 50px;
	
	}
	
	.swiper-pagination {
	
		bottom: -31px !important;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		font-size: 12px;
		color: #000;
		opacity: 1;
		/* background: rgba(0, 0, 0, 0.2); */
	}
	
	
	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
		width: fit-content;
		right: 0;
		left: auto;
	}
	.dashboard-contents-desktop .banner-two {
		background: #211510;
	
	}
	
	.dashboard-contents-desktop  {
	
		position: relative;
	}
	
	
	header {
	
		height: 70px;
	}
	
	
	.login-signup-button-area {
		background: #333333;
		border-radius: 20px;
		padding: 5px;
		margin-left: 20px;
	}
	
	.login-signup-button-area .btn-default {
		color: white;
		border-radius: 20px;
		padding: 3px 25px 6px;
		font-family: var(--fontFamilty);
	}
	
	.login-signup-button-area .btn-default:hover {
		color: white;
		background-color: #FFC444;
		color: black;
	}
	
	.login-signup-button-area .active-btn {
		background-color: #FFC444;
		color: black;
	}
	
	.bread-crumb {
		background-color: #080404;
		padding: 10px 24px;
		display: flex;
		justify-content: space-between;
		padding-right: 50px;
		align-items: center;
	}
	
	.bread-crumb a {
		color: white;
		text-decoration: none;
	}
	
	.bread-crumb .contents {
		color: #FFC444;
	
	}
	
	.bread-crumb .home-section {
		padding-left: 50px;
	
	}
	
	.bread-crumb ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		margin: 0px !important;
	}
	
	.bread-crumb li {
		color: #FFF;
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		list-style: none;
		white-space: nowrap;
	}
	
	.faded {
		color: Grey !important;
	}
	
	.left-sidebar ul {
		padding-left: 0px;
		height: 100%;
	}
	
	.cut-text {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 300px;
		white-space: nowrap;
	}
	
	.cut-text-learning {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 20ch;
		white-space: nowrap;
	}
	
	.left-sidebar li a {
		display: flex;
		padding: 30px 10px 30px 40px;
		width: 90%;
		justify-content: space-between;
		cursor: pointer;
		position: relative;
		color: #222 !important;
		font-family: var(--fontFamilty);
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	
	.left-sidebar li.active {
		// background: linear-gradient(271.22deg, #fefefe 4.22%, #ffc9527a 96.86%);
		position: relative;
	}
	
	.left-sidebar li.active::after {
		content: '';
		position: absolute;
		width: 4px;
		/* Adjust this value based on your desired border width */
		height: 100%;
		background-color: #FFC444;
	
	
	
	}
	
	
	
	.left-sidebar li.active::before {
		content: " ";
		position: absolute;
		right: -5px;
		top: 0px;
		width: 5px;
		height: 100%;
		background: #FFC444;
		border-radius: 0px 20px 20px 0px;
	}
	
	
	
	
	.link-icons {
		margin-right: 10px;
	}
	
	.active .link-icons {
		color: #FFC444;
	
	}
	
	.right-section {
		height: auto;
		overflow: hidden;
		background: linear-gradient(2.62deg, #FFF3DA 2.19%, #ffc9521c 97.81%);
	
	}
	
	/* .bread-crumb{
		padding-top: 20px;
	} */
	
	.bread-crumb .d-flex .material-icons-outlined {
	
		border-radius: 50%;
		padding: 2px;
	}
	
	.bread-crumb .star {
		background: linear-gradient(180deg, #FFC544 0%, #C18E1E 100%);
		color: white !important;
	}
	
	.fire {
		background: linear-gradient(180deg, #FF9E2B 14.55%, #D25800 83.81%);
		color: white !important;
		border-radius: 50%;
	
	}
	
	.navbar-nav .nav-item a {
		/* color: #000 !important; */
	}
	
	.first-section {
		/* background: linear-gradient(0deg, #C0DFFF, #C0DFFF), linear-gradient(76.12deg, #BEE4FF 10.86%, #CFC8FF 106.95%); */
		/* padding: 10px 60px 0px 60px; */
		/* max-height: 249px; */

		max-height: max-content;
		overflow: hidden;
	}
	
	.dashboard-contents-desktop .banner-one {
	
		background: linear-gradient(76deg, #BEFFE4 10.86%, #C9FFC8 106.95%);
	}
	
	.dashboard-contents-desktop .about-section h4 {
		color: var(--Torrins-Black, #222);
		font-family: var(--fontFamilty);
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		/* 46.8px */
		letter-spacing: -0.72px;
	}
	
	.dashboard-contents-desktop .left {
		position: relative;
		width: 90% !important;
	}
	
	.dashboard-contents-desktop .left h4 {
		color: #222222;
		font-family: var(--fontFamilty);
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: -0.72px;
		max-width: 24ch;
		text-align: start;
	}
	
	.dashboard-contents-desktop .right {
		width: 60%;
	}
	
	.dashboard-contents-desktop .swiper-slide{
		padding: 0 1.5rem 0  1.5rem !important;
	}
	
	.dashboard-contents-desktop .banner-two .right{
		width: 49%;
	
	}
	.dashboard-contents-desktop .about-section p {
		color: var(--Torrins-Black, #222);
		font-family: var(--fontFamilty);
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 100%;
		/* 18px */
		letter-spacing: -0.36px;
	}
	
	.tab-container {
		display: none;
	}
	
	.active-course {
		display: block;
	}
	
	.first-section .h4 {
		color: var(--Torrins-Black, #222);
		font-family: var(--fontFamilty);
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: -0.72px;
	}
	
	.first-section .p {
		color: var(--Torrins-Black, #222);
		text-align: center;
		font-family: var(--fontFamilty);
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 100%;
		/* 18px */
		letter-spacing: -0.36px;
	}
	
	.btn-explore {
		background: #222222 !important;
		height: 40px;
		border-radius: 40px !important;
		color: #FFF !important;
		font-family: var(--fontFamilty) !important;
		font-size: 15px !important;
		font-style: normal !important;
		font-weight: 600 !important;
		line-height: normal;
		margin-right: 10px !important;
		padding: 0px 20px !important;
		text-align: center !important;
	}
	
	.btn-avatar {
		background: #222222 !important;
		color: white !important;
		height: 40px;
		width: 140px;
		border-radius: 40px !important;
		color: #FFF !important;
		font-family: var(--fontFamilty) !important;
		font-size: 15px !important;
		font-style: normal !important;
		font-weight: 600 !important;
		line-height: normal;
	}
	
	.btn-subscribe {
		background: #222222 !important;
		color: white !important;
		border-radius: 40px !important;
		height: 40px;
		color: #FFF !important;
		text-align: right;
		font-family: var(--fontFamilty);
		font-size: 15px !important;
		font-style: normal;
		font-weight: 600 !important;
		line-height: normal;
	}
	
	.avatar-sections {
		margin-top: 35px;
	}
	
	.learn-more {
		color: #333;
		font-family: var(--fontFamilty);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		/* 15.6px */
		letter-spacing: 0.12px;
	}
	
	.container {
		display: flex;
		align-items: center;
	}
	
	.rectangle {
		width: 20px;
		height: 6px;
		background-color: #222222;
		border-radius: 3px;
		margin-right: 5px;
	}
	
	.rectangle.opaque {
		opacity: 0.4;
		background-color: white;
		border-radius: 50%;
		width: 6px !important;
		height: 6px !important;
	}
	
	
	.btn-learn-more {
		border: 1px solid #222222 !important;
		border-radius: 40px !important;
		height: 40px;
		color: #222 !important;
		font-family: var(--fontFamilty) !important;
		font-size: 15px !important;
		font-style: normal !important;
		font-weight: 600 !important;
		line-height: normal;
		padding: 0px 20px !important;
		text-align: center !important;
	}
	
	.custom-navbar::-webkit-scrollbar {
		display: none;
	}
	
	
	
	.second-section {
		padding: 0px 30px;
		margin-top: -20px;
	}
	
	.user-profile {
		display: flex;
		align-items: center;
	}
	
	.user-profile p {
		margin-bottom: 0px;
		color: var(--Gray-1, var(--Darkest-Grey, #333));
		font-family: var(--fontFamilty);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	
	.user-profile h5 {
		color: #222;
		margin-left: 11px;
		font-family: Manrope;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 115%; /* 16.1px */
		letter-spacing: -0.28px;
	}
	
	.user-profile .user-img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	
	.user-profile .edit-icon {
		position: absolute;
		bottom: 0px;
		right: 1px;
		cursor: pointer;
	}
	
	.user-profile .images-container {
		position: relative;
		margin-right: 10px;
	
	}
	
	.nav-container {
		border-bottom: 1px solid #333333;
	
	}
	
	.streak-head {
		margin: 0px auto;
		min-width: 297px;
		color: var(--Torrins-Black, #222);
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: 0.16px;
	
	}
	
	.custom-navbar {
		border-bottom: 1px solid #D6D6D6;
		overflow-y: auto;
		margin-top: 20px;
	}
	
	.custom-navbar li {
		display: inline-block;
		margin-right: 10px;
		line-height: 20px;
		text-align: center;
		white-space: nowrap;
	
	}
	
	.custom-navbar .nav-link {
		color: #333333;
		font-family: var(--fontFamilty);
		font-weight: 600;
		font-size: 16px;
		line-height: 21.61px;
		margin: 0px;
		padding: 5px;
		cursor: pointer;
	}
	
	.navbar .nav-link {
		white-space: nowrap;
	
	}
	
	.custom-navbar li.active a {
		color: #333333;
	}
	
	.custom-navbar li.active {
		/* border-bottom: 4px solid #FFC444;
		width: auto; */
		position: relative;
	
	}
	
	.custom-navbar li.active::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #FFC444;
		border-radius: 10px 10px 0px 0px;
	}
	
	.left-sidebar li.active {
		/* border-bottom: 4px solid #FFC444;
		width: auto; */
		position: relative;
	
	}
	
	
	.second-card .custom-progress-bar {
		background: #999999;
		height: 8px;
		width: 286px !important;
		border-radius: 9px;
	}
	
	
	.custom-progress-compeleted {
		background: linear-gradient(270deg, #54D262 28.23%, #4DAA57 89.82%);
		height: 8px;
		width: 40%;
		border-radius: 9px;
	}
	
	.course-card {
		// border-radius: 13px;
		/* min-width: 620px; */
		height: 120px;
	}
	
	.course-container {
		margin-bottom: -65px;
		// background-color: #FFC444;
		// padding: 2px 2px 8px 2px;
		// border-radius: 12px 12px 23px 32px;
		margin-top: 22px;
		/* min-width: 626px; */
		height: 178px;
		width: auto;
	}
	
	.course-history {
		// border-radius: 20px;
		// border: 1px solid #ECECEC;
		background: none !important;
		padding: 15px 5px 15px 5px;
	}
	
	.course-card img {
		width: 121.128px;
		height: 78.09px;
		border-radius: 9px;
	}
	
	.course-history img {
		width: 121.128px;
		height: 78.09px;
		border-radius: 9px;
	}
	
	.module-completed {
		width: auto;
		height: 68.391px;
	}
	
	.second-card {
		height: auto;
		display: flex !important;
		justify-content: space-between;
		width: 100%;
	}
	
	.second-card h6 {
		color: #333;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
		/* 19.2px */
		margin: 0px;
	}
	
	.second-card p {
		font-family: var(--fontFamilty);
		color: gray;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		/* 19.2px */
		margin: 0px;
	}
	
	.second-card h5 {
		font-family: var(--fontFamilty);
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: var(--Torrins-Black, #222);
	}
	
	.second-card h3 {
		color: #333;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: Manrope;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%
	}
	
	.second-card span {
		opacity: .6;
		font-family: var(--fontFamilty);
		font-weight: 400;
		font-size: 12px;
		line-height: 16.39px;
		color: var(--Grey, #999);
		line-height: normal;
	}
	
	.custom-badge {
		display: flex;
		align-items: center;
		padding: 4px 8px 4px 4px;
	}
	
	.custom-badge img {
		height: 16px;
		width: 16px;
		margin-right: 5px;
	}
	
	.custom-badge {
		// background: #FFEEC780;
		border-radius: 20px;
		margin-top: 10px;
		color: #CACACA !important;
		font-size: 12px;
		font-weight: 500;
		font-family: var(--fontFamilty);
		width: max-content;
	
	}
	
	.module-completed .time {
		border-radius: 12px 12px 0px 0px;
		background: linear-gradient(270deg, rgba(84, 210, 98, 0.3) 28.23%, rgba(77, 170, 87, 0.3) 89.82%), #FFF;
		color: #000;
		text-align: center;
		font-family: var(--fontFamilty);
		font-size: 23px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	
	}
	
	.module-completed .content {
		width: 76px;
		height: 31px;
		border-radius: 0px 0px 12px 12px;
		background: linear-gradient(270deg, #54D262 28.23%, #4DAA57 89.82%), #FFF;
		color: #FFF;
		text-align: center;
		font-family: var(--fontFamilty);
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		/* 12px */
		display: flex;
		align-items: center;
	}
	
	.custom-badge .material-icons-outlined {
		color: #BE8814;
		margin-right: 5px;
	}
	
	.size-10 {
		font-size: 10px;
	}
	
	.size-12 {
		font-size: 12px;
	}
	
	.size-14 {
		font-size: 14px;
	}
	
	.size-16 {
		font-size: 16px;
	}
	
	.left-sidebar li.active:after {
		display: none;
	}
	
	.left-sidebar ul li:not(:last-child) a:after {
		content: "";
		width: 48%;
		height: 1px;
		position: absolute;
		bottom: 0;
		border-bottom: 1px solid #ECECEC;
		;
	}
	
	
	
	.btn {
		white-space: nowrap;
	}
	
	.query_section {
		width: auto;
		background: #fff;
		border-radius: 12px;
		height: auto;
	}
	
	.query_section p {
		color: var(--Torrins-Black, #222);
		font-family: var(--fontFamilty);
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: 0.16px;
	
	}
	
	.query-content {
	
		padding: 18px 17px;
		padding-bottom: 0px;
	}
	
	.query_section .query-head {
		font-size: 16px;
	}
	
	.query_section span {
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
	
	}
	
	.or-section {
		display: flex;
		align-items: center;
	}
	
	.or-section hr {
		flex: 1;
		border: 0;
		height: 1px;
		background: #ddd;
	
	}
	
	.plan-container hr {
		border: 0;
		height: 2px;
		width: 100%;
		background: #D6D6D6;
	
	}
	
	.plan-container .text-content {
		color: #333;
		font-family: var(--fontFamilty);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	
	}
	
	.plan-container .footer-text {
		color: #333;
		font-family: var(--fontFamilty);
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	
	.or-section span {
		color: #222;
		font-family: var(--fontFamilty);
		font-size: 10px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	
	.single-query {
		background: #FFEEC780;
		padding: 8px;
		border-radius: 9px;
		color: black;
		margin-bottom: 10px;
	}
	
	.single-query .material-icons-outlined {
		font-size: 20px;
	}
	
	/*calender*/
	.calendar-section {
		padding: 5px;
		border-radius: 9px;
		background: white;
		/* max-height: 218px;
		min-height: 217px; */
	}
	
	.fc-header-toolbar {
		background: linear-gradient(96.25deg, #F857A6 9.1%, #FF5858 89.6%),
			linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
		position: relative;
	}
	
	.fc-left h2 {
		font-size: 16px;
	}
	
	.fc-right .fc-today-button {
		display: none;
	}
	
	.fc .fc-toolbar>*>* {
		float: none !important;
	}
	
	.fc-left {
		float: none !important;
		display: block;
		padding-top: 9px;
		color: white;
	}
	
	.fc .fc-button-group>:first-child {
		position: absolute;
		left: 10px;
		background: transparent;
		bordeR: none;
		box-shadow: none;
		color: white;
		top: 0px;
	}
	
	.fc .fc-button-group>:last-child {
		position: absolute;
		right: 10px;
		background: transparent;
		bordeR: none;
		box-shadow: none;
		color: white;
		top: 0px;
	}
	
	.fc-right {
		height: 0px;
	}
	
	.fc-toolbar.fc-header-toolbar {
		margin-bottom: 0px !important;
		height: 40px;
	}
	
	.fc-day-header {
		font-weight: normal;
		font-size: 14px;
	}
	
	/* for calender */
	
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
	
	h1 {
		font-weight: 600;
		text-align: center;
		color: #fff;
		margin-bottom: 2rem;
	}
	
	.header-calender h3 {
		color: #fff;
		font-family: var(--fontFamilty);
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.14px;
		margin: 0px;
	
	}
	
	.calendar {
		margin: auto;
		width: auto;
		background: #fff;
		border-radius: 12px;
		cursor: pointer;
		display: flex;
		align-items: center;
		flex-direction: column;
	
	}
	
	.calendar .header-calender {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 13px;
		width: 100%;
		border-radius: 12px 12px 0px 0px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(96deg, #F857A6 9.1%, #FF5858 89.6%);
	}
	
	.calendar nav {
		display: flex;
		align-items: center;
	}
	
	.calendar ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		padding: 0px;
		margin: 0px;
	
	}
	
	.calendar ul li {
		width: calc(100% / 7);
		margin-top: 9px;
		margin-bottom: 9px;
		position: relative;
		z-index: 1;
		text-align: center;
		font-family: var(--fontFamilty);
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: capitalize;
	}
	
	#prev,
	#next {
		width: 15px;
		height: 15px;
		position: relative;
		border: none;
		background: transparent;
		cursor: pointer;
	}
	
	#prev::before,
	#next::before {
		content: "";
		width: 50%;
		height: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		border-style: solid;
		border-width: 0.16em 0.16em 0 0;
		border-color: #fff;
	}
	
	#next::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	
	#prev::before {
		transform: translate(-50%, -50%) rotate(-135deg);
	}
	
	#prev:hover::before,
	#next:hover::before {
		border-color: #000;
	}
	
	.days {
		color: #666;
		font-family: var(--fontFamilty);
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	
	.dates li.today {
		color: #fff;
	}
	
	main#main {
	
		overflow-x: hidden;
	}
	
	.dates li.today::before {
		content: "";
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: linear-gradient(180deg, rgba(255, 158, 43, 1) 14.55%, rgba(210, 88, 0, 1) 83.81%);
		border-radius: 50%;
		z-index: -1;
	}
	
	.dates li.inactive {
		color: #ccc;
		
	}
	
	.calendar-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 5px;
		position: relative;
		width: 88%;
		margin-top: 5px;
	
	}
	
	.calendar-footer::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #D6D6D6;
	}
	
	.calendar-footer p {
		color: var(--Gray-1, #333);
		font-family: var(--fontFamilty);
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding: 0px;
		margin: 0px;
	}
	
	.calendar-footer span {
		color: var(--Gray-1, #333);
		font-family: var(--fontFamilty);
		font-size: 10px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	
	.my-learning-section {
		/* width: 613px; */
		height: 92px;
		border-radius: 12px;
		background: linear-gradient(76deg, #BEFFE4 10.86%, #C9FFC8 106.95%);
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		padding: 24px;
		margin-top: 20px;
	}
	
	.my-learning-section .content {
		width: 284px;
		color: var(--Torrins-Black, #222);
		font-family: var(--fontFamilty);
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: -0.36px;
	}
	
	.my-learning-section .get-started {
		display: inline-flex;
		padding: 10px 20px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 40px;
		background: var(--Torrins-Black, #222);
		color: #fff;
		text-align: right;
		font-family: var(--fontFamilty);
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	
	
	.container-helpful {
		height: 47vh;
	}
	
	.container-helpful h5 {
		color: #222;
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	
	.container-helpful .content {
		color: var(--Darkest-Grey, #333);
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		/* 19.2px */
	}
	
	.container-helpful .row {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	.container-helpful .col {
		padding: 20px;
		display: flex;
		justify-content: end;
		flex-direction: column;
		align-items: center;
		margin-top:0%;
	}
	
	.coursehistory-sub-head .course,
	.song-lesson {
		color: var(--Torrins-Black, #222);
		text-align: right;
		font-family: var(--fontFamilty);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		border-radius: 40px;
		padding: 2px 9px;
		border: 1px solid #D0C4AE;
		cursor: pointer;
		white-space: nowrap;
	}

	.coursehistory-sub-head::-webkit-scrollbar {
		display: none;
	}
	
	.coursehistory-sub-head{
		overflow-x: scroll;
	}
	.active-history {
		background: #FFC444;
		border: none !important;
	}
	
	.recommended-songs {
		border-radius: 20px;
		padding: 16px 5px;
	}
	
	.recommended-songs h4 {
		color: #000;
		font-family: sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 200px;
		white-space: nowrap;
		/* 21.6px */
	}
	
	.recommended-songs p {
		color: #000 !important;
		font-family: var(--fontFamilty);
		font-size: 14px !important;
		font-style: normal;
		font-weight: 400 !important;
		line-height: normal;
		opacity: 1 !important;
	}
	
	.recommended-songs h5 {
		color: #333;
		font-family: var(--fontFamilty);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 115%;
		letter-spacing: -0.28px;
		padding: 0px;
		margin: 0px;
	}
	
	.recommended-songs h6 {
		color: #000;
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin: 0px;
	}
	
	.recomended-section {
		grid-template-columns: 0.94fr auto 1fr;
		border-bottom: 1px solid #D6D6D6;
	}
	
	.trending {
		padding: 4px 12px;
		border-radius: 5px;
		background: #CFC8FF;
		color: var(--torrins-black);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		margin-right: 5px;
	}
	
	.song-class {
		border-radius: 30px;
		background: #FFF4DE;
		display: flex;
		padding: 4px 12px;
		align-items: center;
		color: #BE8814;
		font-family: var(--fontFamilty);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		width: max-content;
	}
	
	.container-course-img {
		position: relative;
		text-align: center;
	}
	
	.play-icon {
		position: absolute;
		width: 20.721px !important;
		height: 32.721px !important;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.subscription_plan_section {
		border-radius: 12px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), linear-gradient(106deg, #FFE259 5.72%, #FFA751 83.57%), linear-gradient(106deg, #FFB544 5.72%, #FF4F44 83.57%);
		width: auto;
	}
	
	.subscription_plan_section p {
		font-family: var(--fontFamilty);
		color: #222;
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 800;
		line-height: 120%;
		opacity: 0.5;
		margin: 0px;
	
	}
	
	.image-background {
	
		border-radius: 50%;
		background: rgba(34, 34, 34, 0.15);
	}
	
	.subscription_plan_section .plan-content {
		padding: 14px 51px 12px 50px;
		border-radius: 12px 12px 0px 0px;
		background: linear-gradient(106deg, #FFE259 5.72%, #FFA751 83.57%), linear-gradient(106deg, #FFB544 5.72%, #FF4F44 83.57%) !important;
	
	}
	
	.subscription_plan_section .plan-container {
		padding: 10px 23px;
		border-radius: 0px 0px 12px 12px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), linear-gradient(106deg, #FFE259 5.72%, #FFA751 83.57%), linear-gradient(106deg, #FFB544 5.72%, #FF4F44 83.57%);
	}
	
	.subscription_plan_section h4 {
		font-family: var(--fontFamilty);
		color: #222;
		text-align: center;
		font-size: 32px;
		font-style: normal;
		font-weight: 800;
		line-height: 120%;
		margin: 0px;
	
	}
	
	.subscription_plan_section h3 {
		font-family: var(--fontFamilty);
		color: #222;
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		margin: 0px;
	
	}
	
	
	.edit-popup-modal {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		display: flex;
		width: 889.466px;
		height: 415.5px;
		border-radius: 20px;
		border: 1px solid #ECECEC;
		overflow: hidden;
	}
	
	.edit-popup-modal-mob {
		top: 60%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		display: flow;
		border-radius: 20px;
		border: 1px solid #ECECEC;
		width: 100%;
		height: 100%;
		overflow: hidden;
	
	}
	
	
	
	.main-modal-container {
		z-index: 3;
		position: fixed;
		inset: 0px;
		background-color: rgba(0, 0, 0, 0.5);
		-webkit-tap-highlight-color: transparent;
	}
	
	.mobile-sidenavbar {
		right: 0;
		position: absolute;
		background-color: rgb(255, 255, 255);
		display: flex;
		width: 270px;
		height: 100%;
		border-radius: 20px 0px 0px 20px;
		border: 1px solid #ECECEC;
	}
	
	.mobile-sidenavbar .menu {
		padding: 16px;
	}
	
	.mob-nav ul hr {
		width: 105%;
		padding: 0;
		margin: 0;
	}
	
	.mob-nav ul {
		margin: 0px;
		padding: 0px;
	}
	
	.mob-nav li {
		display: flex;
		list-style: none;
		justify-content: space-between;
		align-items: center;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	.mob-nav ul li span {
		color: #222;
		font-family: var(--fontFamilty);
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		align-items: center;
	}
	
	.logoout-text {
		color: red;
		font-family: var(--fontFamilty);
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		align-items: center;
		margin-bottom: 10px;
	
	}
	
	.guitar-img {
	
		height: 20px;
		width: 20px;
		/* margin-top: 15px; */
		margin-right: 15px;
	
	}
	
	#mob-sidenavbar {
		display: none;
		z-index: 99999999999999999999;
	}
	
	.edit-popup-modal .first-popup-section {
		width: 237.762px;
		background: linear-gradient(3deg, rgba(255, 243, 218, 0.2) 2.19%, rgba(255, 201, 82, 0.2) 97.81%);
		padding: 12px 24px;
	}
	
	.edit-popup-modal-mob .first-popup-section {
		background: linear-gradient(3deg, rgba(255, 243, 218, 0.2) 2.19%, rgba(255, 201, 82, 0.2) 97.81%);
		padding: 15px
	}
	
	.edit-popup-modal-mob .second-popup-section {
		padding: 0px 15px;
		padding-bottom: 35px;
	}
	
	.edit-popup-modal-mob .avatar-sections {
	
		margin-top: 0px;
	}
	
	.song-cat-list table td {
	
		padding-right: 0px !important;
	}
	
	section.celebrity-instructors-section.category_list.details-page .song-cat-list{
	
		padding-left: 5px !important;
		padding-right: 5px !important;
	
	}
	.text {
		color: #222;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		font-family: var(--fontFamilty);
		white-space: nowrap;
	}
	
	.edit-popup-modal .first-popup-section p {
		color: #222;
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		/* 20.8px */
		letter-spacing: 0.16px;
		margin: 0px;
	
	}
	
	.avatars-container {
		overflow-y: scroll;
		max-height: 300px;
	}
	
	.avatar-sections p {
		color: #222;
		font-family: var(--fontFamilty);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		/* 20.8px */
		letter-spacing: 0.16px;
		margin: 0px;
	
	}
	
	#edit-profile {
		display: none;
		z-index: 99999999999999999;
	
	}
	
	#edit-profile-mob {
		z-index: 99999999999999999;
		overflow: hidden;
	}
	
	.avatar-sections ::-webkit-scrollbar {
		width: 2px;
		height: 250px;
	
	}
	
	#edit-profile-mob.first-popup-section {
	
		margin-bottom: 55px;
	}
	
	
	
	.avatars-container img {
		margin: 4px;
	}
	
	.avatar-sections ::-webkit-scrollbar-thumb {
		background-color: #000;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
	
	
	}
	
	.avatar-sections ::-webkit-scrollbar-track {
		background-color: #999;
		border-radius: 10px;
		overflow: hidden;
		height: 200px;
	}
	
	.avatar-img {
	
		height: 113px !important;
		width: 113px !important;
	}
	
	.custom-badge {
		margin-top: 15px !important;
	}
	
	.course-history .container {
		align-items: center;
	}
	
	.desktop {
		display: none !important;
	}
	
	.mobile-header {
		display: none !important;
	}
	
	.sm-flex-column {
		flex-direction: row !important;
	}

	.main-dashboard-div{
		min-height: 50%;
		margin-top: 27px;
		background: #FFF;
		border-radius: 20px;
		width: 845px;
		flex-shrink: 0;
		padding: 1px
	}
	.sub-dashboard-div{
		margin: 0px auto;
    	width: 90%;
	}
	.filters {
		display: flex;
		align-items: center;
		gap: 11px;
		border-bottom: 1px solid #ECECEC;
		border-top: 1px solid #ECECEC;
		
	  }
	  
	  .separator {
		width: 1px; /* Width of the line */
		height: 16px; /* Height of the line */
		background-color: #ccc; /* Color of the line */
		margin: 0 10px; /* Space around the line */
	  }
	  
	  .filter-icon {
		background: none;
		border: none;
		cursor: pointer;
		color: #1F137E;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-left: -12px;
		margin-right: -17px;

	  }
	  
	  .filter-button {
		padding: 7px 7px;
		border: none;
		background: transparent;
		color: black;
		cursor: pointer;
		position: relative;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	  }
	  
	  .filter-button.active-filter::after {
		content: "";
		display: block;
		height: 2px;
		background-color: #f1c40f;
		width: 100%;
		position: absolute;
		bottom: -3px;
		left: 0;
	  }
	  .remaining{
		margin-top: -14px;
		

	  }

	  .circle-container .circle {
		background: #fff;
		border-radius: 50%;
		height: 45px;
		padding: 2.5px;
		right: 7px;
		width: 45px;
	}
	 .circle-container .circle:before {
		border: 4px solid #999 !important;
		height: 40px;
		width: 40px;
	}
	
	.circle:before {
		background: #0000;
		border-radius: 100%;
		content: "";
		transition: width .2s ease-out, height .2s ease-out, border-width .2s ease-out;
	}
	.circle span, .circle:before {
		position: absolute;
	}
	.circle-container .circle span {
		align-items: center;
		display: flex;
		font-size: 12px;
		height: 40px;
		justify-content: center;
		width: 40px;
	}
	.circle span, .circle:before {
		position: absolute;
	}
	.circle span {
		color: #000;
		font-weight: 700;
		line-height: 40px;
		text-align: center;
		transition: font-size .2s ease-out;
	}

	.circle .percentage-bar:before {
		background: #0000;
		border: 3.5px solid #00BA34;
		border-radius: 100%;
		clip-path: inset(0 50% 0 0);
		content: "";
		height: 40px;
		position: absolute;
		transition: width .2s ease-out, height .2s ease-out, border-width .2s ease-out;
		width: 40px;
	}
	.circle .percentage-bar:after {
		border: 3.5px solid #00BA34;
		
	}

	.stats-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 40px;
		gap: 20px;
	  }
	  
	  .stat-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 1;
	  }

	  .icon-wrapper{
		justify-content: space-between;
		width: 100%;
		display: flex;
	
	  }
	  
	  .icon-wrapper img {
		width: 30.123px;
		height: 30.123px;
		margin-bottom: 10px;
	  }
	  
	  .value {
		font-size: 24px;
		font-weight: 700;
		color: #070417;
	  }
	  
	  .label {
		text-align: start;
		color: #070417;
		font-size: 18.648px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-top: 5px;
		margin-right: -5px;
		width: 100%;
		font-family: "Rubik", sans-serif;
		
	  }
	  
	  .separators {
		width: 1px;
		opacity: 0.1;
		background: #000;
		height: 50px;
		align-self: center;
	  }
	  .dropdown-toggle::after {
		display: none;
	  }

	.dashboard-title{
		padding:0px 20px;
	}

	.recent-badge{
		color: #333 !important;
	}

	@media (max-width:600px) {
		.dates-container ul {
			 gap: 24px !important;
			 margin-left: 38px !important;
		 }
	 }
	  
	
	/* @media (min-width: 576px), @media (min-width: 768px), @media (min-width: 992px), @media (min-width: 1200px) */
	@media (max-width: 1200px) {
		.main-dashboard-div{
			width: auto;
		}
		.custom-badge {
			margin-top: 10px !important;
			padding: 4px !important;
		}
	
		.second-card .custom-progress-bar {
	
			// width: 100% !important;
		}
	
		.mobile-header {
			display: none !important;
		}
	
		.second-card h3 {
			font-size: 12px;
		}
	
		.cut-text {
	
			width: 200px;
			height: 100%;
	
		}
	
	
		#recommendedSongs{
	
		/* padding: 15px; */
		}
		.course-history img {
	
			// width: 250px !important;
		}
	
		.second-card p {
			color: #333 !important;
			font-family: Manrope;
			font-size: 12px !important;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.second-card .recent{
			color: #CACACA !important;
		}
		.whislist::marker{
			list-style: none !important;
		}
	
		.query_section p {
			font-size: 12px;
		}
	
		.cross-img {
			height: 20px !important;
			width: 20px !important;
		}
	
	
		.custom-badge img {
			height: auto !important;
			width: auto !important;
		}
	
		.course-card {
			width: auto;
			min-width: auto !important;
		}
	
		.course-container {
			min-width: auto !important;
		}
	
		.custom-progress-bar {
			width: auto;
		}
	
		.avatar-main {
			text-align: center;
		}
	
		h5 {
			font-size: 15px !important;
			line-height: normal !important;
			margin: 0 !important;
			margin-bottom: 5px !important;
		}
	
		h6 {
			font-size: 13px !important;
			margin: 0 !important;
			padding: 0px;
			line-height: normal !important;
		}
	
		.course-history img {
			border-radius: 8px !important;
		}
	
		.desktop {
			display: block !important;
		}
	
		.nav-footer button.accordion-button {
			width: 95% !important;
		}
	
		.nav-footer button.accordion-button {
			color: #FFC444 !important;
		}
	
		.contact_info a {
			color: #FFC444 !important;
	
		}
	
		.color-text-a {
			font-family: var(--fontFamilty);
			font-size: 12px;
			font-style: normal;
			color: var(--Grey, #999) !important;
			font-weight: 400;
	
		}
	
		.nav.nav-footer {
			padding: 10px;
			margin: 0px !important;
		}
	
	
		.cut-text-learning {
			width: 10ch;
		}
		.second-card .learning-progress{
			width: 143px !important;
		}
	
	}
	
	.arrow-section-mob {
		display: none !important;
	}
	
	.circle-container {
		// position: absolute;
		z-index: 1;
		// top: 73%;
		// right: 35%;
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	.circle-container img {
		height: 40px !important;
		width: auto !important;
	
	
	}
	
	.image-active {
		border-radius: 50%;
		border: 3px solid #DFA935;
	}
	.recent{
		color: #BE8814 !important;
	}


	
	@media (max-width:768px) {
		.calendar ul li {
			font-size: 8px;
		}
		.after-15{
			width: 21px !important;
		}
		
		.label {
			font-size: 14px;
		}
		.overflow-hidden {
			overflow: hidden;
		}
		

		.user-activity{
			margin-left: 39px;
			margin-top: -38px;
		}
		.value{
			font-size: 18px;
			text-align: left;
		}

		.dashboard-icon{
			margin-top: 17px;
		}

		.second-card h6 {
			color: #000;
			font-family: Manrope;
			font-size: 16px !important;
			font-style: normal;
			font-weight: 600;
			line-height: 115%; /* 18.4px */
			letter-spacing: -0.32px;
		}
		.right-section {
			height: auto;
			width: 98.6%;
			overflow: hidden;
		}
		.arrow-icon {
			width: 12px;
			height: 8px;
			margin-left: 3px;
			margin-right: 8px;
		}
		
		.coursehistory-sub-head {
			display: flex; /* Ensures the children are aligned in a row */
			overflow-x: auto; /* Adds horizontal scroll */
			white-space: nowrap; /* Prevents wrapping of child elements */
			-webkit-overflow-scrolling: touch; /* Enables smooth scrolling on mobile */
		}
		
		.filters{
			display: flex;
			width: 98%;
			justify-content: space-between;
			border-top: none;
		}
	
		.sub-filters{
			display: flex;
			align-items: center;
			gap: 11px;
		}
		
		.dropdown-toggle .arrow {
		    margin-right: 9px;
			font-size: 12px;
		}
		
		.dropdown-menus {
			position: absolute;
			left: 56%;
			background-color: white;
			border: 1px solid #ddd;
			border-radius: 10px;
			width: 150px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
			z-index: 10;
			display: flex;
			flex-direction: column;
			padding: 10px 0;
		}
		
		.filter-button {
			padding: 10px 15px;
			border: none;
			background: none;
			text-align: left;
			font-size: 14px;
			color: #333;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;
		}
		
		
		/* General Calendar Styling */
		.calendar {
			background-color: #2e2e2e;
			color: white;
			padding: 20px;
			border-radius: 10px;
			text-align: center;
		}

		/* Days Header */
		.days-container ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			margin: 0 0 10px;
		}

		.days li {
			flex: 1;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #bbb;
		}

		/* Dates in a Single Line */
		.dates-container ul {
			gap: 16px;
        	margin-left: 9px !important;
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			margin: 0;
			// overflow-x: auto; /* Scrollable if dates overflow */
		}

		.date-item {
			flex: 1;
			text-align: center;
			font-size: 14px;
			padding: 11px 8px 5px 8px;
			border-radius: 50%;
			margin: 0 5px;
			color: white;
		}

		.date-item.active {
			width: 21px;
			background: url(../../../public/assets/img/DashboardBanner/Vector.png);
			color: white;
		}

		
		/* Latest Releases Section */
		.latest-releases {
			margin-top: 20px;
			text-align: center;
		}

		.latest-releases p {
			color: #FFF;
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 130%; /* 23.4px */
			letter-spacing: -0.36px;
			width: 191px;
			text-align: left;
			margin-left: 25px;
		}

		.releases {
			display: flex;
			justify-content: center;
			gap: 10px;
		}

		.releases img {
			width: 307px;
			height: 114px;
			margin-left: -132px;
		}

		.explore-button {
			margin-left: -223px;
			display: inline-block;
			padding: 10px 20px;
			font-size: 14px;
			font-weight: bold;
			background: white;
			color: #000;
			border: none;
			border-radius: 20px;
			cursor: pointer;
		}

		.calendar .dates {
			flex-wrap: nowrap;
		}

		.date-item {
			color: white !important;
		}
		
		.calendar ul li {
			color: #666;
			
		}
		.calendar-section {
			width: 100%;
			background: #333;
		}
		.dashboard-title{
			padding: 0;
		}
		.stats-container {
			display: flex; /* Horizontal alignment ke liye */
			overflow-x: auto; /* Horizontal scrolling enable karne ke liye */
			white-space: nowrap; /* Child elements ko ek hi line me rakhne ke liye */
		}


		.filter-icon {
			color: #333;
			font-family: Manrope;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

		}
		.title-div{
			margin-left: 12px;
		}

		.circle-container{
			margin-top: -54px;
		
		}

		 .circle-container .circle:before {
			margin-left: -20px;
		}
		.circle .percentage-bar:before{
			border: 3.5px solid #00BA34;
			margin-left: -20px;
		}
		.circle .percentage-bar::after{
			border: 3.5px solid #00BA34;
			margin-left: -20px;
		}

		 .circle-container .circle span {
			align-items: center;
			display: flex;
			font-size: 10px;
			height: 39px;
			justify-content: center;
			width: 43px;
		}
		.historyT-title{
			color: #333;
			font-feature-settings: 'liga' off, 'clig' off;
			font-family: Manrope;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 15.6px */
			text-align: left;
			margin-left: 2px;
		}
		.stats-container {
			// flex-direction: column;
			text-align: center;
			gap: 30px;
		}

		.stat-item {
		flex: none;
		}

		.main-dashboard-div{
			width: auto;
			margin-top: -52px;
			border-top-left-radius: 37px;
			border-top-right-radius: 37px;
		}

		.my-dashboard .filters {
			gap: 8px;
		}
		.second-card .learning-progress{
			width: 124px !important;
		}
		.course-card img {
			width: 87px;
			height: 71px;
			flex-shrink: 0;
			border-radius: 8px;
		}
	
		.text {
			font-size: 16px;
		}
	
		.edit-popup-modal-mob {
			/* padding: 20px 10px; */
		}
	
		.avatars-container {
			height: 221px;
		}
	
		#edit-profile-mob img {
			height: 93px;
			width: 93px;
	
		}
	
		#edit-profile-mob .avatar-sections ::-webkit-scrollbar {
			display: none;
		}
	
		.module-completed .time {
			font-size: 14px;
		}
	
		.cut-text-learning {
			width: 30ch;
		}
	
		.module-completed .content {
			width: 55px;
			font-weight: 300;
			font-size: 9px;
			line-height: normal;
	
		}
	
		.arrow-section-mob {
			display: flex !important;
		}
	
		.course-history .container {
			// flex-direction: column;
			align-items: start !important;
	
		}
	
		.my-learning-section .content {
	
			width: auto;
			font-size: 14px;
		}
	
		.second-section {
			padding: 15px !important;
		}
	
		.mobile-header {
			display: flex !important;
		}
	
		.calendar {
			width: auto;
			min-width: auto !important;
			background: #333;
		}
	
		.navbar {
			padding: 15px 16px !important;
		}
	
		.bread-crumb {
			padding: 10px;
		}
	
		.custom-badge img {
			height: auto !important;
			width: auto !important;
		}
	
		.bread-crumb .home-section {
			padding: 0px 15px;
			margin: 0px;
		}
	
		.custom-badge {
			margin-top: 8px !important;
		}
	
		.container-helpful {
			height: auto !important;
		}
	
		.bread-crumb li {
			margin: 0px;
			font-weight: 500;
			font-size: 12px;
		}
	
		h5 {
			font-size: 14px !important;
		}
		section.celebrity-instructors-section.category_list.details-page .song-cat-list table td{
			padding: 8px;
		}
	
		h6 {
			font-size: 13px !important;
	
		}
	
		.desktop-header {
			display: none !important;
		}
	
		.bread-crumb ul {
			margin: 0px;
			padding: 0px;
		}
	
		.left-sidebar {
			display: none;
		}
	
		.dashboard-contents-desktop {
			display: none;
		}
	
		.user-profile h5 {
			font-size: 18px;
		}
	
		.mobile {
			display: none !important;
		}
	
		.custom-navbar {
			flex-wrap: inherit !important;
	
		}
	
		.navbar {
			border-bottom: 1px solid #333333;
		}
		::-webkit-scrollbar {
			width: 0px;
			background: transparent; /* make scrollbar transparent */
		}
	}
	
	@media (max-width:400px) {
		.dates-container ul {
			gap: 24px !important;
			margin-left: 12px !important;
		}
	 }

	
	@media (max-width :500px) {
		.course-history {
			width: 100% !important;
		}
	
		.cut-text-learning {
			width: 150px !important;
		}
	
	}
	
	@media (max-width: 1300px) {
	
		.course-history .container {
			// flex-direction: column;
			align-items: start !important;
			// margin-bottom: 155px;
	
		}
	
		.recommended-songs h4 {
			color: #000;
			font-family: sans-serif;
			font-size: 14px;
			font-weight: 600;
	
			/* 21.6px */
		}
	
	
	
		.subscription_plan_section h4 {
	
			font-size: 24px;
		}
	
		.dashboard-contents-desktop .about-section h4 {
	
			font-size: 24px;
		}

		.course-history .video {
			width: 97px !important;
			height: 67px !important;
			
		}

		.course-history .videos {
			width: 58px !important;
			height: 58px !important;
			border-radius: 6.426px !important;
			
		}
		
		.sm-align-items-start {
	
			align-items: flex-start !important;
		}
	
		.sm-flex-column {
			flex-direction: column !important;
			gap: 10px;
		}
	
		.user-profile h5 {
			font-size: 18px;
		}
	
		.mobile {
			display: none !important;
		}
	
		.sm-d-flow {
	
			flex-direction: column;
		}
	
	
	}
	
	@media (min-width: 1200px) {
	
	
		.mobile-header {
			display: none !important;
		}
	
	}
	
	@media (min-width:700px) and (max-width: 1000px) {
	
		.course-history {
			width: 80% !important;
		}
	}
	
	@media (min-width:1200px) and (max-width: 1360px) {
	
		.recommended-songs .album {
	
			/* width: 100px; */
			margin-top: 2px;
		}
	
		section.celebrity-instructors-section.category_list.details-page .song-cat-list table .d-flex.title-area {
			gap: 5px !important;
		}
	
		/* .recommended-songs .table>:not(caption)>*>* {
	
			padding: 0px !important;
		} */
	
		.recomended-section .celebrity-instructors-section.category_list.details-page .song-cat-list table th {
	
			white-space: nowrap;
		}
	
		.recommended-songs h4 {
	
			font-size: 14px;
		}
	
	}
	
	
	
	@media (max-width: 1400px) {
	
		.dashboard-contents-desktop .left h4 {
			font-size: 24px  !important;
	
		}
		.slider__controls{
	
			bottom: 1.8rem;
		}
	
	
	}
	
	
	
	@media (min-width: 1600px) {
		.slider__controls{
	
			bottom: 2.5rem;
		}
		.stats-container{
			width: 76%;
		}
		
	
	
	}

	@media (min-width: 2000px) {
		.stats-container{
			width: 63%;
		}
	}

	@media (min-width: 2400px) {
		.stats-container{
			width: 61%;
		}
	}

	@media (min-width: 2500px) {
		.stats-container{
			width: 58%;
		}
	}

	@media (min-width: 3000px) {
		.stats-container{
			width: 48%;
		}
	}
	@media (min-width: 3500px) {
		.stats-container{
			width: 40%;
		}
	}
	
	

	
	
}