#snackbar {
    visibility: hidden;

}

.snackbar-content {
    height: 48px;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    right: 1rem;
    top: 8rem;
    z-index: 999999999999999999999999;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 340px;
    min-width: 320px;

}

#snackbar-error {
    visibility: hidden;
}


.sucess-message {
    border-radius: 4px;
    border: 2px solid #2B8F36;
    background: #FFF;
}

.error-message {
    border-radius: 4px;
    border: 2px solid #D44B54;
    background: #FFF;
}


#snackbar p {
    color: #333333;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




@media (max-width: 1090px) {

    .snackbar-content {
        margin-left: -125px;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        bottom: 4rem;
        left: 38%;
        top: auto;
    
    }

}